<h1>Books#delete</h1>
<div class="Delete Book">
<h2>Delete Book</h2>


<%= form_for(@book, :method => 'delete') do |f| %>
    <p>Are you sure you want to permanently delete this book?</p>

    <div class = "form-button">
        <%= f.submit("Delete Book") %>
        <p><%= @book.title %> </p>
    </div>

    <h3><%= link_to "Home", "/books" %></h3>
    <% end %>
</div>
